*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
.navbar{
    padding: 0 2em;
    height: 5em;
    background-color: #94a3b8;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarelements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}
.navelement a{
    font-size: 1.3em;
    color: whitesmoke;
    transition: 900ms;
    position: relative;
}
.navelement a:hover{
    color: #188178;
}
.navbar .navbarelements .navelement a::after{
    content: "";
    height: 3px;
    width: 0px;
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: 0.5s;
}
.navbar .navbarelements .navelement:hover a::after{
    content: "";
    height: 3px;
    width: 100%;
    background-color: #188178;
    position: absolute;
    bottom: -4px;
    left: 0px;
}
.hero{
    background-image: url(images/hero4.png);
    height: calc(100svh - 5em);
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h4{
    padding-bottom: 15px;
}
.hero h1{
    color: #088178;
}
.hero button{
    background-image: url(images/button.png);
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    padding: 15px 80px 14px 65px;
    background-repeat: no-repeat;
    font-size: 1.1rem;
    font-weight: bold;
}